<div id="modal">
    <form>
        <label>
            Nome:
            <input type="text" name="nome" id="nome" [(ngModel)]="novoContato.nome">
        </label>
        <label>
            E-mail:
            <input type="email" name="email" id="email" [(ngModel)]="novoContato.email">
        </label>
        <label>
            Telefone:
            <!-- Percorrer o array de telefones, criando um índice (i) -->
            <!-- transferindo o controle do fluxo para o índice dos valores -->
            <div *ngFor="let tel of novoContato.telefones; let i=index; trackBy:track">
                <input type="tel" name="telefone_{{i}}" [(ngModel)]="novoContato.telefones[i]">
                <a *ngIf="i==0; else elseBlock"><i class="material-icons">add_circle</i></a>
                <ng-template #elseBlock><a class="remove" href=""><i class="material-icons">remove_circle</i></a></ng-template>
            </div>
            <!-- <div>
                <input type="email" name="email" id="email">
                <a class="remove" href=""><i class="material-icons">remove_circle</i></a>
            </div>
            <div>
                <input type="email" name="email" id="email">
                <a class="remove" href=""><i class="material-icons">remove_circle</i></a>
            </div> -->
            <pre>{{novoContato|json}}</pre>
        </label>
        <div class="controles">
            <button type="button" class="link" (click)="cancelar()">Cancelar</button>
            <button type="button">Adicionar</button>
        </div>
    </form>
</div>
